<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
            Profissional com formação de Analista de Cargos e Salários, pela Integração Escola de Negócios,  experiência de 4 anos no departamento de Remuneração e Benefícios, realizando análises referente a remuneração fixa e estruturas, como aprovações via sistema de requisição de pessoal, análises de movimentações (promoção/mérito/transferência), além de suporte nas atividades de benefícios, como realização de parcerias em feiras e eventos e apoio operacional no programa de benefícios e qualidade de vida.
        </p>
    </div>
</div> <!-- / section -->
